html{
    scroll-behavior: smooth;
}

.ani{
    margin:  20px 20px 20px 20px;
    color: rgb(250, 250, 250);
}

.maincontainer{
    background-color:black;
}



#preloader{
    height: 100vh;
    width: 100%;
    background-image: url(./image/icons/giphy.gif);
    background-color: #030303;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1500;
    position: fixed;
}


body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: 1500;
    background-image: url(./image/images/b-image2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: round;
    font-family: Arial, sans-serif;
    align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
h1 span {
    color: #03df97;
    position: relative;
}
h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background:white;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}




h1 {
    font-family: 'Arial', sans-serif;
    color:white;
    margin: 0;
    padding: 20px;
    cursor: pointer;
}



#navbar{
    backdrop-filter: blur(20px) !important;
    width: 100%;
    transition: 1s;
    z-index: 1400;
}
#navbar:hover{
    transition: 1s;
    background-color: black;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}
.ui{
    justify-content: space-around;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    transition: 500ms;
}
li a:hover{
    transition: 500ms;
    color:#03df97  !important;
} 



.pimage{
    transition: 500ms;
    max-height:200px;
    border-radius: 50%;
    margin: 0px;
}
.pimage:hover{
    transition: 500ms;
    box-shadow: 0px 0px 40px 5px #03df97;
}


#info{
    background-image: url(./image/images/b-image.jpg);
    background-position: center;
    height: 100%;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 50px;
}

.infoleft{
    padding-top: 60px;
    text-align: center;
}
.hello {
    font-size: 2rem;
    color: white;
}
.im {
    font-size: 2rem;
    color:#03df97;
}

h2 {
    color: #03df97;
    font-size: 3rem;
    margin: 15px 0px 20px 0px;
}
h3 {
    display: inline;
    font-size: 1.5em;
    color: white;
}
.button a{
    border-radius: 25px;
    color: #03df97;
    text-decoration: none;
    margin: 25px 25px 25px 25px;
    padding: 15px 30px;
    background-color:transparent;
    border: 2px solid;
    border-color: #03df97;
    transition: 500ms;
}
.button  a:hover{
    transition: 500ms;
    padding: 20px 35px;
    width: 200px;
    color: white;
    background-color:#03df97;
}
.button  a:active{
    transition: 1s;

}
.inforight{
    flex-basis: 50%;
}
.footer1{
    background-color: black;
    padding: 33px 0px;
    margin-top: -135px;
}






/*first page over */
#about{
    transition: 500ms;
    background-color:#18191d;
    margin: 0px;
    display:flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;

}
#about:hover{
    transition: 500ms;
    box-shadow: 0px 0px 20px 5px #03df97;
}

.cpimage{
    transition: 500ms;
    height: 200px;
    border-radius: 50%;
    margin: 0px;
}
.cpimage:hover{
    transition: 500ms;
}

.aboutright{
    background-image: url(./image/images/new-gif.gif);
    background-position: left;
    background-size: cover;
    border-radius: 25px;
    margin: 100px 0px;
    align-items: center;
}
.perdetail{
    margin: 40px 0px 40px 0px;
    color: white;
}
.perdetail table{
    display: flex;
    justify-content: center;
}
.aboutleft{
    text-align: center;
    margin-top: 50px;
    align-items: center;
}
.my {
    font-size: 1.9em;
    color: white;
}
.intro {
    font-size: 1.9em;
    color:#03df97;
    align-items: center;
}
#about .pdet{
    margin-left: 0px;
    font-size: 1.9em;
    color:#03df97;
    display: flex;
    text-align: center;
    justify-content: center;
}
.map{
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.footer2{
    background-color: black;
    padding: 33px 0px;
}

/* page 2 done*/
#skill{
    display: flex;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
    background-color: #18191d;
}

.favorite {
    font-size: 1.9em;
    color: white;
}

.skills-title{
    margin-top: 15px;
}
.title-certificate{
    align-items: center;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.9em;
    color: #03df97;
    display: grid;
    justify-content: center;
}


.certificate {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    transition: 500ms;
}
.certificateli{
    display: inline-block;
    margin: 0%;
    transition: 500ms;
}
.certificatelia{
    text-decoration: none;
    color: white;
    margin-right: 0px;
    transition: 500ms;
}
.certificatelia:hover{
    transition: 500ms;

} 

.skills {
    font-size: 1.9em;
    color:#03df97;
}
.skilleft{
    flex-basis: 50%;
    text-align: center;
    margin-top: 70px;
}
.skillright{
    
    flex-basis: 50%;
    text-align: center;
    margin-top: 50px;
}


#scard{
    background-color: transparent;
    color: white;
}

.coli{
    flex-shrink: 0;
    scroll-snap-align: start ;
}
.footer3{
    background-color: black;
    padding: 33px 0px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slimg {
    width: 100%;
    border-radius: 8px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color:transparent;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#do{
    background-color: #18191d;/*--------------------------------->*/
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}


.row {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}

#do:hover{
    transition: 500ms;  
    box-shadow: 0px 0px 20px 5px #03df97;
}
.dotop{
    margin-top: 70px;
    text-align: center;
}
.dobot{
    margin: 0%;
    
}

.btn-success {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #03df97;
    background-color: transparent;
    border-color: #03df97;
    border-radius: 25px;
}

.btn-success:hover{
    background-color: #03df97;
    color: #fff !important;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: black;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    /* border: 1px solid rgb(3 223 151); */
    border-radius: 25px;
    text-align: center;
}

.card:hover{
    transition: 500ms;  
    box-shadow: 0px 0px 20px 5px #03df97;
}


.dobot .bot1{
    justify-content: center;
    display: flex;
}
.dobot .bot2{
    justify-content: center;
    display: flex;
}
.dobot .bot3{
    justify-content: center;
    display: flex;
}

.my1 {
    font-size: 1.9em;
    color: white;
}
.services {
    font-size: 1.9em;
    color:#03df97;
}
.footer4{
    background-color: black;
    padding: 33px 0px;
    margin-top: 60px; 
}
/* page complete*/
#contact-container{
    background-color: #1f2833;
    backdrop-filter: blur(10px);
    transition: 500ms;
}

.get {
    font-size: 1.9em;
    color: white;
}
.touch {
    font-size: 1.9em;
    color:#03df97;
}

.tcontact{
    margin-top: 40px;
    text-align: center;
}
.detail{
    margin: 0px;
}
.dl{
    text-align: center;
}
.dr{
    text-align: center;
}
.contactbot{
    text-align: center;
}
.send{
    margin-top: 25px;
    text-align: center;
}
.sumbitbut{
    border-radius: 25px;
    color: white;
    text-decoration: none;
    margin: 25px 25px;
    padding: 15px 30px;
    background-color:#03df97;
} 
.footer5{
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #000000a8;
    backdrop-filter: blur(3px);
    padding: 35px 0px;
}
.ico{
    width: 100px
}
.icon-pin{
    color: #03df97;
}
h5{
    color: #03df97;
    text-shadow: 2px -1px 2px black;
}
p{
    color: rgb(212, 212, 212);
}


